p {
	text-align: center;
	margin: 20px 0;
	font-family: "Source Code Pro", sans-serif;
}

img {
	display: block;
	margin: 40px auto;
	width: 600px;
	margin-bottom: 80px;

}

h1 {
	font-family: "Amatic SC", cursive;
	font-size: 70px;
	text-align: center;
}

body {
	background-color: #5599AA;
	padding: 50px;
}